// background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;
$bg-sand: #d2ad80;

// text color
$text-black: #010103;
$text-teal: #4fb09f;
$btn-black: #161616;
$text-gray: #e6e6ea;
$text-white: #f5f5f5;