@use "../../styles/global/" as *;


.contact-link {
    color: $text-teal;
    margin-right: 2rem;
}
.navbar {
  max-width: 133rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2.7rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 99999;
  margin: 0 auto;
//   background-color: $bg-sand;

  &__links {
    display: flex;
    list-style: none;
    gap: 2.1rem;

    a {
      font-size: $p-size;
      font-family: $text-font;
      font-weight: 500;
      color: $text-white;
      text-decoration: none;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        color: $text-teal;
      }
    }

    @media (max-width: 1000px) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    gap: 2.5rem;
    font-size: $p-size;
    font-family: $text-font;
    font-weight: 500;
    align-items: center;

    @media (max-width: 1000px) {
      display: none;
    }

    &__booking {
      background-color: $text-teal;
      color: white;
      padding: 1.5rem 3rem;
      border-radius: 3px;
      box-shadow: 0 10px 15px 0 rgba(49, 72, 83, 0.35);
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 10px 15px 0 rgba(49, 72, 83, 0.35);
        background-color: $bg-sand;
      }
    }

    &__contact {
        background-color: $bg-sand;
        color: white;
        padding: 1.5rem 3rem;
        border-radius: 3px;
        box-shadow: 0 10px 15px 0 rgba(49, 72, 83, 0.35);
        transition: all 0.3s;
  
        &:hover {
          box-shadow: 0 10px 15px 0 rgba(49, 72, 83, 0.35);
          background-color: $bg-sand;
        }
      }
    a {
      text-decoration: none;
    }
  }
}

//  mobile nav
.mobile-hamb {
    width: 4rem;
    height: 3rem;
    display: none; 
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    background-color: $bg-white; 
  border-radius: 50%; 
  padding: 0.5rem;
  
    @media (max-width: 1000px) {
      display: flex; 
    }
  }
  
  .burger {
    width: 3rem;
    height: 0.3rem;
    border-radius: 10px;
    background-color: $bg-sand;
    transform-origin: 1px;
    transition: all 0.3s linear;
  
    @media (max-width: 1000px) {
      display: block; 
    }
  }

.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: $bg-white;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;

  &__close {
    font-size: 3rem;
    color: $bg-sand;
    position: absolute;
    top: 3.5rem;
    right: 3.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $text-teal;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2.3rem;
    gap: 3rem;
    text-align: center;

    li {
      a {
        text-decoration: none;
        color: $bg-sand;
        font-weight: 500;
        transition: all 0.3s;

        &:hover {
          color: $text-teal;
        }
      }
    }
  }
}

.open-nav {
  left: 0;
}