@use "../../styles/global/" as *;

.sebastian-section {
  background-color: $bg-white;
  padding: 5.3rem 0;
}

.sebastian-container {
  display: flex;
  flex-direction: column;

  &__title {
    margin: 0 auto;
    text-align: center;
    color: $text-teal;

    h3 {
      font-size: $h3-size;
      font-family: $text-font;
      font-weight: 500;
      color: $text-teal;
    }

    h2 {
      font-size: $h2-size;
      font-family: $titles-font;
      margin: 1.3rem 0 3rem 0;
      color: $bg-sand
    }
  }

  &__boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3.7rem;

    @media (max-width: 1021px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 2rem;

      &__box:last-child {
        grid-column: span 2;
        justify-self: center;
      }

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
        margin-top: 1rem;

        &__box:last-child {
          grid-column: auto;
          justify-self: center;
        }
      }
    }


    &__box {
      text-align: center;
      padding: 1rem 0rem;


      @media (max-width: 500px) {
        padding: 1rem 1rem;
      }

      img {
        width: auto;
        height: 24rem;
      }

      h3 {
        font-size: $h3-size;
        margin-bottom: 1rem;
        color: $text-teal;
      }

      ul {
        font-size: $p-size;
        font-family: $text-font;
        color: $text-black;
        line-height: 1.43;
        list-style: none;
      }
    }
  }
}